<div class="col-3">
        <div class="card">
                <div class="card-body">
                    <div class="card-title">
                            <h5>
                                <a href="{{path('cdc_show', {id: cdc.id, slug: cdc.slug})}}">{{ cdc.title }}</a>
                            </h5>
                                <p class="card-text">{{ cdc.description }}</p>
                                    <div class="text-primary">
                                         <a href="{{ path('pdfCdc', {id: cdc.id, slug: cdc.slug}) }}" class="btn btn-primary">Telecharger le cahier des charges</a>
                                    </div>
                    </div>
                </div>
        </div>
</div>